*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  position: relative;
  background: #1f1f1f;
  border: 0;
  padding: 1em 3em;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 0.8rem;
  color: #f1f1f1;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

button:hover::after {
  animation: shine 1.6s ease;
}

.shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes shine {
  100% {
    left: 200%;
  }
}
